body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(150, 114, 114);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(129, 35, 35);
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 12px 10px;
  text-decoration: none;
  margin-bottom: px;
  color: #111;
}

li a:hover:not(.activate) {
  color: rgb(129, 35, 35);
  background-color: #111;
  border-radius: 20px;
}

.activate {
  background-color: #111;
  color: rgb(129, 35, 35);
  border-radius: 20px;
}

h1 {
  background-color: #111;
  padding: 0;
  margin: 0;
  color: rgb(129, 35, 35);
}

div.galeria {
  margin: 5px;
  border: 1px solid #111;
  float: left;
  background-color: #111;
}

div.galeria:hover {
  border: 1px solid rgb(129, 35, 35);
}

div.galeria img {
  width: 290px;
  height: 250px;
  object-fit: fill;
  border-radius: 40%;
}

div.desc {
  text-align: center;
  color: rgb(129, 35, 35);
  background-color: #111;
  border-radius: 20px;
}

.centrado {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.centrado video {
  border-radius: 5%;
  padding: 8px 8px;
}

.footer {
  background-color: #111;
  color: rgb(129, 35, 35);
  padding: 20px;
  text-align: center;
  font-size: 18px;
}
